/* BASIC SETUP */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    letter-spacing: .8px;
}

/* REUSABLE COMPONENTS */ 

body {  
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar-inverse .navbar-nav  li a {
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
}
.caixa {
    margin-top: 5%;
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
}

.corpo {
    font-family: 'Roboto Mono', 'Arial', 'sans-serif';
    letter-spacing: 3px;
    margin-top: 10%;
}

.caixa h1 { 
    text-align: center;
    color: black;
    font-size: 140%;
    font-weight: 650;
}

.caixa h1 span {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
}

ion-icon {
    font-size: 16px;
  }

.formulario {
    margin-right: 8%;
}

.dados {
    margin-top: 5%;
    text-align: center;
}

